<h1>Welcome to Mean Tea!</h1>


	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar">Home</span>
	        <span class="icon-bar">About</span>
	        <span class="icon-bar">Contact</span>
	      </button>
	      <a class="navbar-brand" href="#"></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">About</a></li>
	        <li><a href="#">Contact</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>


<div class="col-md-12">
	<div class="col-md-3">
		<label> Search by category:
			<select ng-model="sortOrder">
				<option value="dark">dark</option>
				<option value="cold">cold</option>
				<option value="awesome">awesome</option>
				<option value="dry">dry</option>
				<option value="summer">summer</option>
				<option value="lucid">lucid</option>
				<option value="warm">warm</option>
				<option value="winter">winter</option>
				<option value="spring">spring</option>
			</select>
		</label>
	</div>
		<div ng-repeat="tea in teaList | orderBy: sortOrder">
			<ul>
				<li>
					{{tea.id }},
					{{tea.name }},
					{{tea.ingredients }},
					{{tea.caffeineScale }},
					{{tea.price }},
					{{tea.inStock }},
					{{tea.rating }},
					{{tea.imageUrl }},
					{{tea.__v }},
					{{tea.categories }}
				</li>
			</ul>
			
		</div>
	<div class="col-md-7" id="form-group">
		<label for="teas">Search by name:</label>
		<input>
	</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-warning">Checkout | Bag: {{}}!</button>
		</div>
</div>



<div>
	<p class="col-md-4">Tea</p>
	<p class="col-md-6">Information</p>
	<label class="col-md-2">Sort By Price:
		<select>
				<option value="low">low</option>,
				<option value="high">high</option>,
		</select>
	</label>
</div>

<div class="col-md-12">
	
	<h3>Quantity:
	<select>
		<option value="1">1</option>,
		<option value="2">2</option>,
		<option value="3">3</option>,
		<option value="4">4</option>,
		<option value="5">5</option>,
		<option value="6">6</option>,
		<option value="7">7</option>,
		<option value="8">8</option>,
		<option value="9">9</option>,
		<option value="10">10</option>
	</select>
	</h3>
	<button type="button" class="btn btn-warning">Add to Bag</button>
</div>


