<h1>Welcome to Mean Tea!</h1>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar">Home</span>
        <span class="icon-bar">About</span>
        <span class="icon-bar">Contact</span>
      </button>
      <a class="navbar-brand"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#/">About</a></li>
        <li><a href="#/">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class = 'container-fluid'>
	<div class="col-md-12">
		<div class="form-group">
		<label for="sort"> Search by category:
			<select name='sort' ng-model="sortOrder">
				<option value=""></option>
				<option value="dark">dark</option>
				<option value="cold">cold</option>
				<option value="awesome">awesome</option>
				<option value="dry">dry</option>
				<option value="summer">summer</option>
				<option value="lucid">lucid</option>
				<option value="warm">warm</option>
				<option value="winter">winter</option>
				<option value="spring">spring</option>
		</select></label>
			<label for="teas">Search by name:</label>
			<input type="search" ng-model = 'search'name='teas'>
		<div id="shoppingCart">
			<button type="button" class="btn btn-warning" ng-click='checkout()'>Checkout | Bag: {{ (shoppingCart.length)|| 'Empty'}}</button>
		</div>
		</div>

		<table>
			<th>Tea</th>
			<th>Information
				<div id='headPrice'>					
				<label for='priceSort'>Sort By Price:
					<select name='priceSort' ng-model='sortPrice'>
						<option value="price">low</option>
						<option value="-price">high</option>
					</select>
				</label>
				</div>
			</th>
			<tr ng-repeat='tea in teaList | filter: sortOrder | orderBy: sortPrice | filter:search'>
				<td class='teaPicture'>
					<img ng-src="{{tea.imageUrl}}" alt="{{tea.name}}">
				</td>
				<td>
					<div  class='teaData'>
					<h3>{{tea.name}}</h3>
					<p><strong>Price: </strong>{{tea.price | moveDecimal | currency}}</p>
					<p><strong>Caffeine Scale: </strong>{{tea.caffeineScale}}</p>
					<p><strong>Ingredients: </strong>{{tea.ingredients}}</p>
					<p><strong>Rating: </strong>{{tea.rating}}</p>
					<p><strong>In Stock? </strong>{{tea.inStock | checkStock}}</p>
					<p><strong>Categories:</strong></p>
					<ul>
						<li ng-repeat="category in tea.categories">
							{{category}}
						</li>
					</ul>
					</div>
					<div class='teaSelect'>
						<h5>Quantity:<select ng-model='orderQuantity'>
							<option selected='selected' value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select></h5>
						<button type="button" class="btn btn-warning" ng-click="addToCart(tea.name, orderQuantity, tea.imageUrl, tea.caffeineScale, tea.ingredients, tea.price, tea.rating)">Add to Bag</button>
					</div>
				</td>
				<td>


				</td>
			</tr>
		</table>
	</div>
</div>



<div>
	<label class="col-md-2">Sort By Price:
		<select>
				<option value="low">low</option>,
				<option value="high">high</option>,
		</select>
	</label>
</div>

<div class="col-md-12">
	
	<h3>Quantity:
	<select>
		<option value="1">1</option>,
		<option value="2">2</option>,
		<option value="3">3</option>,
		<option value="4">4</option>,
		<option value="5">5</option>,
		<option value="6">6</option>,
		<option value="7">7</option>,
		<option value="8">8</option>,
		<option value="9">9</option>,
		<option value="10">10</option>
	</select>
	</h3>
	<button type="button" class="btn btn-warning">Add to Bag</button>
</div>



